* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-image: url(image/painting-mountain-lake-with-mountain-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  overflow: auto;
}
.background::-webkit-scrollbar {
  width: 10px;
}
.background::-webkit-scrollbar-thumb {
  background-color: #888;
}
.background::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
}
.name_language {
  width: 38%;
  height: 40%;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 50px;
  font-weight: 600;
}
.btn_download {
  cursor: pointer;
  width: 15%;
  height: 20%;
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.btn_download > a {
  text-decoration: none;
  color: inherit;
  display: inherit;
  justify-content: center;
  align-items: center;

}
.btn_download:hover {
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.download_content {
  font-size: 30px;
}
.download_icon {
  font-size: 40px;
}
/* body */
.body {
  width: 100%;
  height: 100%;
}
.body_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.box_content {
  font-size: 20px;
}
.guide,
.introduce {
  height: 200px;
  width: 80%;
  border-radius: 50px;
  background-color: white;
  padding: 0 20px;
}
.guide {
  height: 920px;
}
.indented {
  text-indent: 2em;
}

.video {
  width: 100%;
  height: 100%;
}

.top_header {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
}
.bold {
  font-weight: 600;
}

.footer {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 200px;
  padding: 64px 16px;
  text-align: center;
  z-index: 9999;
}
.socials-list{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer .socials-list a {
  font-size: 50px;
  text-decoration: none;
  color: white;
  opacity: 0.8;
  transition: 0.5s;
}
.copy-right a:hover,
.footer .socials-list a:hover {
  transition: 0.5s;
  color: rgba(246, 246, 246, 0.4);
}
.copy-right {
  font-size: 15px;
}
.copy-right a {
  color: rgba(0, 0, 0, 0.8);
}